<a href="https://colab.research.google.com/github/Nagamvinusha/Assignment3/blob/master/Copy_of_Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1:
a=float(input("Enter first side of triangle : "))
b=float(input("Enter second side of triangle : "))
c=float(input("Enter third side of triangle : "))  
s = (a + b + c) / 2    
Area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print("Area of the triangle is ",Area)

Enter first side of triangle : 5
Enter second side of triangle : 6
Enter third side of triangle : 7
Area of the triangle is  14.696938456699069

In [ ]:
#2:
string=input("Enter a string:")
if(string==string[::-1]):
    print(string,"is a palindrome")
else:
    print(string,"is not a palindrome")

Enter a string:refer
refer is a palindrome

In [ ]:
#3:
Year=int(input("Please enter the year :")) 
if Year%400==0:
   print(Year,"is a leap year")
elif Year%100==0:
   print(Year,"is not a leap year")
elif Year%4==0:
   print(Year,"is a leap year") 
else:
   print(Year,"is not a leap year")

Please enter the year :2020
2020 is a leap year

In [ ]:
#4:
str1=input("Please Enter the string : ")
str2=str1.replace(' ','-')
print(str1)
print(str2)

Please Enter the string : This program converts spaces into hyphen
This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

In [ ]:
#5:
sortlist=["orange","white","red","green","cyan","white","pink","magenta"]
sortlist.sort()
print(sortlist)

['cyan', 'green', 'magenta', 'orange', 'pink', 'red', 'white']

In [ ]:
#6:
salary=int(input("Enter salary of a person :- "))
if salary<=250000:
    print("no tax")
elif salary>250000 and salary<=500000:
    Tax=salary*(5/100)
    print("the tax is",Tax)
elif salary>500000 and salary<=750000:
    Tax=salary*(10/100)
    print("the tax is",Tax)
elif salary>750000 and salary<=1000000:
    Tax=salary*(15/100)
    print("the tax is",Tax)
elif salary>1000000 and salary<=1250000:
    Tax=salary*(20/100)
    print("the tax is",Tax)
elif salary>1250000 and salary<=1500000:
    Tax=salary*(25/100)
    print("the tax is",Tax)
elif salary>1500000:
    Tax=salary*(30/100)
    print("the tax is",Tax)

Enter salary of a person :- 400000
the tax is 20000.0

In [ ]:
#7:
A=(input("Enter first integer :-"))
B=(input("Enter second integer :-"))
C=(input("Enter third integer :-"))
print(A+B+C)

Enter first integer :-11
Enter second integer :-33
Enter third integer :-50
113350

In [ ]:
#8:
D=int(input("Enter days :- "))
H=int(input("Enter hours :- "))
M=int(input("Enter minutes :- "))
S=int(input("Enter seconds :- "))
ts=D*24*60*60+H*60*60+M*60+S
print("Total number of seconds = ",ts)

Enter days :- 2
Enter hours :- 2
Enter minutes :- 2
Enter seconds :- 2
Total number of seconds =  180122

In [ ]:
#9:
l=int(input("Enter 1st integer:-"))
m=int(input("Enter 2nd integer:-"))
n=int(input("Enter 3rd integer:-"))
print("max number is:-",max(l,m,n))
print("min number is:-",min(l,m,n))

Enter 1st integer:-6
Enter 2nd integer:-5
Enter 3rd integer:-4
max number is:- 6
min number is:- 4

In [ ]:
#10:
year=int(input("Enter year YYYY:-"))
month=int(input("Enter month MM:-"))
date=int(input("Enter date DD:-"))
0<month<13
0<date<32
if date==31 and month==12 :
   print ("YYYY-MM-DD : {}-01-01".format(year+1))
elif (date==31 and (month==1 or 3 or 5 or 7 or 8 or 10)) :
   print ("YYYY-MM-DD : {}-{}-01".format(year,month+1))
elif ( date==30 and (month==4 or 6 or 9 or 11)) :
   print("YYYY-MM-DD : {}-{}-01".format(year,month+1))
elif ( date==28 and month==2 and year%4==0):
   print ("YYYY-MM-DD : {}-{}-29".format(year,month))
elif (date==28 and month==2):
   print ("YYYY-MM-DD : {}-03-01".format(year))
else :
   print ("YYYY-MM-DD : {}-{}-{}".format(year,month,date+1))

Enter year YYYY:-2020
Enter month MM:-4
Enter date DD:-15
YYYY-MM-DD : 2020-4-16

In [ ]:
#11:
def product_num(n1,n2,n3,n4,n5,n6,n7,n8) :
   return n1*n2*n3*n4*n5*n6*n7*n8
product_num(45,3,2,89,72,1,10,7)

121111200

In [ ]:
#12:
def list(n1,n2,n3,n4,n5,n6):
     return n1+n2,n2+n3,n3+n4,n4+n5,n5+n6
list(5,6,8,34,89,1)

(11, 14, 42, 123, 90)

In [ ]:
#13:
def list(n1,n2,n3,n4,n5,n6):
     return n1,n1*n2,n1*n2*n3,n1*n2*n3*n4,n1*n2*n3*n4*n5,n1*n2*n3*n4*n5*n6
list(5,6,8,3,9,1)

(5, 30, 240, 720, 6480, 6480)

In [ ]:
#14:
num=int(input("Enter a number :-"))
digits=[]
for i in str(num):
      digits. append(int(i)) 
print (digits)

Enter a number :-586392
[5, 8, 6, 3, 9, 2]

In [ ]:
#15:
q=input("Enter a palindrome ")
str1=[]
str2=[]
index=0
for i in range(0,len(q)-1):
   for j in range(i+1,len(q)+1):
       if j-i>1:
          p=q[i:j]
          if (p==p[::-1]):
             str1.append(q[i:j])
             str2.append(len(q[i:j]))
maxi=max(str2)
for i in str2:
    if i==maxi:
       print(str1[index])
    else:
       index=index+1

Enter a palindrome refer
refer

In [ ]:
#16:
def string(list1,list2):
    list1len=len(list1)
    test=0
    for i in range(0,list1len):
        if list1[i:i+len(list2)]==list2:
            test=1
    return test
a=input("Enter a binary number a: ")
b=input("Enter another binary number b: ")
if string(a,b):
    print('1')
else:
    print('0')

Enter a binary number a: 1010110010
Enter another binary number b: 10110
1